*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:inter;
    font-weight: 300;
   
}
html{
    scroll-behavior: smooth;
}
 body{
   
    width: 100%;
    background: #28231f;
    color: #fff;
    overflow-x: hidden;

    
 }
